body {
    height: 90vh;
    font-family: arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
  }

header {
    margin: 20px 0px 10px 20px;
}

footer {
    background-color: rgb(230, 230, 230);
    width: 100%;
    padding: 15px 20px 15px 20px;
    margin: 0px 0px 0px -10px;
    position: fixed;
    bottom: 0;
}

#middle_div {
    margin-top: 250px;
    text-align: center;
}

#header_boxes {
    display: grid;
    grid-template-columns: repeat(2, 75px) 1fr repeat(2, 75px);
    grid-template-rows: repeat(1, auto);
}

#header_box1 {grid-column: 1;}
#header_box2 {grid-column: 2;}
#header_box3 {grid-column: 4;}
#header_box4 {grid-column: 5;}

#footer_boxes {
    display: grid;
    grid-template-columns: 100px 80px 150px 1fr repeat(2, 75px) 100px;
    grid-template-rows: repeat(1, auto);
}

#footer_box1 {grid-column: 1;}
#footer_box2 {grid-column: 2;}
#footer_box3 {grid-column: 3;}
#footer_box4 {grid-column: 5;}
#footer_box5 {grid-column: 6;}
#footer_box6 {grid-column: 7;}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header_links {
    font-size: 14px;
    color: black;
}

.footer_links {
    font-size: 14px;
    color: rgb(110, 110, 110);
}

img {
    margin-bottom: 20px;
}

input {
    margin-bottom: 20px;
    width: 500px;
    border-radius: 20px;
    font-size: 18px;
    padding: 8px 20px 8px 20px;
    border: solid;
    border-width: 1px;
    border-color: rgb(215, 215, 215);
}

input:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#button1 {
    margin-right: 10px;
}

.Cool_Buttons {
    padding: 10px 20px 10px 20px;
    background-color: rgb(245, 245, 245);
    border: none;
    font-size: 14px;
    border-radius: 5px;
}

button:hover {
    border: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
}